/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red{
    color: rgb(255, 0, 0);
}
.primary{
    background-color:royalblue;
    color: white;
}
.v-middle{
    vertical-align: middle;
}
.content{
    padding:16px;
    background-color: white;
}